/* Large devices (desktops, 992px and down) */
@media (max-width: 1700px) {
    .container {
        width: 80%;
       }

    .header__burger {
        display: block;
    }

    .header__menu-block {
        display: none;
    }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 1500px) {
    .container {
        width: 95%;
       }
   }
   .contact__block {
       justify-content: space-between;
       padding: 5rem;
   }

   /* Small devices (landscape phones, 576px and down)& */
@media (max-width: 1245px) {
    html {
         font-size: 9px;
    }

    .contact__block {
        justify-content: space-between;
        padding: 3rem 0rem;
    }
}

@media (max-width: 1169px) {
    .contact__text {
        width: 77rem;
    }
    .contact__textarea {
        width:79rem;
    }

    .contact__info {
        padding-right: 6rem;
    }

    .works__gallery-item {
        width: 46%;
    }
}
    
@media (max-width:960px) {
    .about__slider-right {
        left: 96.5%;
    }

    .contact__text {
        width: 80%;
    }
    .contact__textarea {
        width: 84%;
    }

    .about__item-soc {
        left: 24%;
    }

    .contact__message-form {
        padding-right: 15% ;
    }

    .clients__logos {
        flex-wrap:wrap;
        padding-left: 75px;
    }

    .clients__logo {
        width: 28% ;
        padding-right: 0px;
    }
    .services__item-logo-circle {
        padding-top: 1.1rem;
    }
}

@media (max-width:740px) {
    html {
        font-size: 8px;
    }
    .header__menu {
        display:none;
    }

    .header__logo {
        position: fixed;
        text-shadow: 1px 1px 0 black, -1px -1px 0 black;
        z-index:20;
        cursor: pointer;
        top:8px;
    }

    .scroll-top-button {
        display:none;
    }

    .header__name {
        padding-top: 3.1rem;
    }

    .header__description {
        padding-bottom: 3.7rem;
    }

    .header__button {
        margin-bottom: 5.9rem;
    }

    .section__name {
        padding-top: 3rem;
    }

    .section__name::before {
        display: none;
    }

    .section__description {
        padding-top: 1.2rem;
    }

    .services__content {
        padding-top: 4rem;
        flex-wrap: wrap;
    }

    .services__item {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 3.3rem;
    }

    .about {
        margin-top: 1rem;
    }

    .about__content {
        padding-top: 4.3rem;
    }

    .about__item {
        padding-bottom: 6rem;
    }

    .about__item-soc {
        flex-direction: column;
        left: 8%;
        top: 4%
    }

    .works__menu {
        padding-top: 1rem;
    }

    .works__gallery-item {
        width: 100% ;
        margin-right: 0px;
    }

    .clients__logos {
        flex-wrap:wrap;
        padding-left: 0px;
    }

    .clients__logo {
        width: 28% ;
        margin-right: 28px;
    }

    #logo {
        margin-right: 0px;
    }

    .clients {
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .contact {
        padding-bottom: 2rem;
    }

    .footer {
        padding: 3rem 0;
    }

    .blog__content {
        padding-top: 3.2rem;
    }

    .blog {
        padding-bottom: 6rem;
    }

    .blog__img1 {
        width: 21%;
        min-width: 35%;
    }
}

@media (max-width:560px) {
    .contact__button-block {
        flex-wrap:wrap; 
    }
    .blog__img1 {
        display: none;
    }

    .clients__logo {
        margin-right: 65px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 26px;
    }

    #logo {
    margin-right: 65px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 26px;
    }
}

@media (max-width:367px) {
    .works__menu {
        flex-direction: column;
        align-items: center;
    }
    .works__menu-item {
        text-align: center;
    }


    .works__gallery {
        padding: 3rem 0.5rem;
    }
    .contact__block {
        flex-direction: column;
        align-items: center;
    }
    .contact__info {
        padding-right:0px;
        padding-bottom: 2rem;
    }
    .contact__message-form {
        padding-right: 0px;
        padding-left: 3.3rem;
    }
}