//Подключаем шрифты
@import 'fonts' ;

//Переменные
$main_text-color: #ffffff;
$second_text-color:#555555;

$section-color1: #f8f8f8;
$section-color2: #c0301c;

//Миксины
@mixin montserrat-regular ($font-size)
{
    font-family: 'montserrat-regular';
    font-size: $font-size;
}

@mixin montserrat-bold ($font-size)
{
    font-family: 'montserrat-bold';
    font-size: $font-size;
}

@mixin robotoslab-bold ($font-size)
{
    font-family: 'robotoslab-bold';
    font-size: $font-size;
}

@mixin robotoslab-regular ($font-size)
{
    font-family: 'robotoslab-regular';
    font-size: $font-size;
}

@mixin fontello ($font-size)
{
    font-family: 'fontello';
    font-size: $font-size;
}

@mixin opacity ($opacity-weight)
{
    opacity:$opacity-weight;
    transition: all 0.5s ease;
}

::-webkit-input-placeholder {color:#555555; opacity:1;}/* webkit */
::-moz-placeholder          {color:#555555; opacity:1;}/* Firefox 19+ */
:-moz-placeholder           {color:#555555; opacity:1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#555555; opacity:1;}/* IE */

// textarea::-webkit-input-placeholder { line-height: 4.2rem; }
// textarea::-moz-placeholder { line-height: 4.2rem; }
// textarea:-moz-placeholder   { line-height: 4.2rem;}
// textarea:-ms-input-placeholder { line-height: 4.2rem; }

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

//Стандартные настройки 
html {
    margin: 0;
    font-size: 10px;
}

body {
    margin: 0;
}

.container {
 width: 70%;
 margin: 0 auto;
}

a {
    color:inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}




// common classes
.section__name {
    @include montserrat-regular (2rem);
    color: $second_text-color;
    text-align: center;
    padding-top: 10rem;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}

.section__name:before {
    content: "";
    display: block;
    width: 4%;
    height: 2px;
    background-color: $second_text-color;
    position: absolute;
    top: 15.8rem;
    left: 48%;
}

.section__description {
    @include robotoslab-regular (1.6rem);
    padding-top: 6.2rem;
    text-align: center;
}
.scroll-top-button {
    width: 5rem;
    height: 5rem;
    border: solid white 2px;
    border-radius: 50%;
    @include montserrat-regular (2rem);
    position: fixed;
    background-color: #8b8b8b;
    color: white;
    text-align: center;
    box-sizing:border-box;
    padding-top: 1rem;
    right: 3rem;
    bottom: 4rem;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 10;
}



// header css

.header {
    background-image: url('../img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $main_text-color;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    
    &__menu-block {
        display: flex;
        justify-content: space-between;
        padding: 4rem;
        position: fixed;
        width: 100%;
        padding-bottom: 4rem;
        background-color: rgba(0,0,0,0.5);
        z-index: 9 ;
    
    }
    
    &__logo { 
        @include montserrat-bold (2.4rem);
        line-height: 2.4rem;
    }

    &__menu {
        @include montserrat-regular (1.4rem);
        display: flex;
        padding-top: 0.5rem;
        padding-right: 9rem;
    }

    &__menu-item {
        padding-left: 3.4rem;
    }

    &__menu-item:hover {
        color: #f00808;
    }

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    &__name {
        @include montserrat-regular (4.8rem);
        width: 100% ;
        padding-top: 26.1rem;
    }

    &__description {
        @include robotoslab-regular (2rem);
        width: 100% ;
        padding-top: 2.8rem;
        padding-bottom: 4.7rem;
    }

    &__button {
        @include montserrat-regular (1.6rem);
        width: 18rem;
        padding: 1.8rem 1.3rem ;
        border: solid 0.2rem $main_text-color;
        margin: 0 auto;
        margin-bottom: 25.9rem;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 3px 3px 3px rgb(22, 6, 13);
        transition: all 0.2s ease;
        position:relative;
    }
    &__button:active {
        box-shadow: none;
        top: 3px;
    }
    
    &__menu_adaptive {
        @include montserrat-regular (1.4rem);
        left: 2vw;
        margin-left: -3.5rem;
        text-shadow: 1px 1px 2px black;
        z-index: 10;
        position: fixed;
        top: 15vh;
    }

    &__burger {
        width: 4rem;
        min-width: 4rem;
        position: fixed;
        display: none;
        top: 5vh; 
        left: 2vw;
        z-index: 10;
        
    }
}

.services {
    color: $second_text-color;
    
    &__content {
        display: flex;
        text-align: center;
        padding-top: 7rem;
        justify-content: space-between;
    }

    &__item {
        width: 32% ;
    }
    
    &__item-name {
        @include montserrat-regular (1.4rem);
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 3rem;
    }

    &__item-description {
        @include robotoslab-regular (1.4rem);
        padding-top: 2.5rem;
    }

    &__item-logo-circle {
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        border: solid 0.2rem #dddddd;
        margin: 0 auto;
        padding-top: 19px;
        box-sizing: border-box;
        transition: all 0.4s ease;
    }

    &__item-logo-circle svg {
        fill: rgb(192, 48, 28);
        transition: all 0.4s ease;
    }

    &__item:hover &__item-logo-circle {
        background-color: rgb(192, 48, 28);
    }

    &__item:hover &__item-logo-circle svg {
        fill: $main_text-color;
    }
}

.about {
    background-color: $section-color1;
    margin-top: 10rem;
    color: $second_text-color;
    
    &__slider {
        overflow: hidden;
        position: relative;
        // min-width: 133.2rem;
        // margin:0 auto;
    }
    
    &__content {
        display:flex ;
        justify-content: space-between;
        padding-top: 7.3rem;
        z-index: 1;
        
    }
    
    &__slider-content {
        display:flex ;
        justify-content: space-between;
        padding-top: 7.3rem;
        z-index: 1;
        position: relative;
        left: 0px;
        transition: all 1s;
    }

    &__text-content {
        @include robotoslab-regular (1.4rem);
        width: 49%;
        line-height: 2.6rem;
        letter-spacing: 0.8px;
    }


    &__item {
        width:23%;
        text-align: center;
        padding-bottom: 10rem;
        transition: all 0.5s ease;
        flex-shrink: 0;
        flex-basis: 23%;
        margin-right: 2.6%;
    }
    

    &__item:last-child {
        margin-right: 0%;
    }

    &__item-photo1 {
        height: 25rem;
        min-height: 25rem;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../img/photo1.jpg');
        transition: all 0.5s ease;
    }

    &__item-photo2 {
        @extend .about__item-photo1 ;
        background-image: url('../img/photo2.jpg');
    }

    &__item-photo3 {
        @extend .about__item-photo1 ;
        background-image: url('../img/photo3.jpg');
    }

    &__item-photo4 {
        @extend .about__item-photo1 ;
        background-image: url('../img/photo4.jpg');
        background-position: 45% 12%;
    }

    &__item-photo5 {
        @extend .about__item-photo1 ;
        background-image: url('../img/photo5.jpg');
        background-position: 30%;
    }

    &__item-photo6 {
        @extend .about__item-photo1 ;
        background-image: url('../img/photo6.jpg');
        background-position: 52%;
    }

    &__item-photo7 {
        @extend .about__item-photo1 ;
        background-image: url('../img/photo7.jpg');
        background-position: 30%;
    }

    &__item-photo8 {
        @extend .about__item-photo1 ;
        background-image: url('../img/photo8.jpg');
        background-position: 30%;
    }

    &__item-name {
        @extend .services__item-name ;
        padding-top: 2rem;
    }

    &__item-profession {
        @include robotoslab-regular (1.3rem);
        padding-top: 0.7rem;
    }

    &__item-soc {
        display: none;
        position: absolute;
        top: 75%;
        left: 30%;
        transition: all 0.5s ease;
    }

    &__social {
        @include fontello (1.6rem);
        width: 3rem;
        height: 3rem;
        color: $main_text-color;
        box-sizing: border-box;
        padding: 6px 4px 1px 1px;
        transition: all 0.5s ease;
        cursor: default;
        
    }

    &__social:hover {
        background-color: $section-color2;
    }

    &__item:hover &__item-photo1 {
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    }

    &__item:hover &__item-soc {
        display: flex;
    }

    &__slider-left {
        @include fontello (2.5rem);
        width: 3.5rem;
        height: 3.8rem;
        background-color: #8b8b8b;
        color:$main_text-color;
        position: absolute;
        box-sizing: border-box;
        padding-left: 12px;
        padding-top: 5px;
        z-index: 3;
        top: 36%;
        transition: all 0.5s ease;
        cursor: default;
        
    }

    &__slider-right {
        @extend .about__slider-left ;
        left: 97.5% ;
        
    }

    &__slider-left:hover {
        background-color: $section-color2;
    }
}

.works {

    &__menu {
        @include robotoslab-regular (1.6rem);
        color: $second_text-color;
        display: flex;
        justify-content: center;
        padding-top: 5rem;
    }

    &__menu-item {
        padding: 1rem 1.1rem;
        border-radius: 6px;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding:6rem 9.5rem;
        transition:all 0.5s ease;
        
    }

    &__gallery-item {
        margin-right: 2.3rem;
        transition: all 0.5s ease;
        z-index: 1;
    }

    &__gallery-item1 {
        width: 31%;
        height: 32rem;
        min-height: 32rem;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../img/gallery_1.jpg');
        margin-bottom: 2.3rem;
    }

    &__gallery-item2 {
        @extend .works__gallery-item1 ;
        background-image: url('../img/gallery_2.jpg');
        background-position: center;
    }

    &__gallery-item3 {
        @extend .works__gallery-item1 ;
        background-image: url('../img/gallery_3.jpg');
        
    }

    &__gallery-item4 {
        @extend .works__gallery-item1 ;
        background-image: url('../img/gallery_4.jpg')
    }

    &__gallery-item5 {
        @extend .works__gallery-item1 ;
        background-image: url('../img/gallery_5.jpg')
    }

    &__gallery-item6 {
        @extend .works__gallery-item1 ;
        background-image: url('../img/gallery_6.jpg');
        background-position: 50%;
        
    }

    &__gallery-item7 {
        @extend .works__gallery-item1 ;
        background-image: url('../img/gallery_7.jpg')
    }

    &__gallery-item8 {
        @extend .works__gallery-item1 ;
        background-image: url('../img/gallery_8.jpg')
    }

    &__gallery-item9 {
        @extend .works__gallery-item1 ;
        background-image: url('../img/gallery_9.jpg');
        background-position: 50%;
        
    }

    &__gallery-name {
        @include montserrat-regular (1.8rem) ;
        @include opacity(0);
        color: $main_text-color ;
        text-align: center;
        margin-top: 10.6rem;
        
    }

    &__gallery-description {
        @include robotoslab-regular (1.2rem);
        @include opacity(0);
        text-align: center;
        color: $main_text-color ;
        padding-top: 1.7rem;
        padding-bottom: 2.5rem;
        
    }

    &__gallery-button {
        @include robotoslab-regular (1.4rem);
        @include opacity(0);
        text-align: center;
        color: $section-color2;
        padding-top: 10px;
        box-sizing: border-box;
        width: 10rem;
        height: 4rem; 
        background-color: $main_text-color ;
        margin: 0 auto;
        letter-spacing: 2px;
        cursor: pointer;
        box-shadow: 2px 2px 2px rgb(22, 6, 13);
        transition: all 0.2s ease;
        position:relative;
        
    }
    
    &__gallery-button:active {
        box-shadow: none;
        top: 3px;
    }

    &__nav-link {
        @include fontello (1.4rem);
        color: inherit;
    }

    &__gallery-item1:hover {
        box-shadow: inset 0 0 0 100000px rgba(192, 48, 28, 0.7);
    }

    &__gallery-item1:hover  &__gallery-name  {
        opacity: 1;
    }

    &__gallery-item1:hover  &__gallery-description {
        opacity: 1;
    }

    &__gallery-item1:hover  &__gallery-button  {
        opacity: 1;
    }
}

.action-call {
    @include robotoslab-regular (3rem);
    background-image: url('../img/action-call.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%  73%;
    box-shadow: inset 0 0 0 100000px rgba(192, 48, 28, 0.5);
    color: $main_text-color ;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;

    &__button {
        font-size: 1.8rem;
        border: solid 2px $main_text-color ;
        width: 18rem;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 0.9rem 0 ;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: 2px 2px 2px rgb(22, 6, 13);
        transition: all 0.2s ease;
        position:relative;
    }
    
    &__button:active {
        box-shadow: none;
        top: 3px;
    }

    &__content {
        padding-top: 10px;
    }
}

.blog {
    color: $second_text-color ;
    padding-bottom: 10rem;
    
    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 7.2rem;
    }

    &__img1 {
        background-image: url('../img/blog-1.jpg');
        width: 46rem;
        min-width: 46rem;
        height: 32.4rem;
    }

    &__img2 {
        @extend .blog__img1 ;
        background-image: url('../img/blog-2.jpg');
    }

    &__title {
        @include montserrat-regular (1.6rem) ;  
        text-transform: uppercase;
        font-weight: bolder;

    }

    &__author {
        @include robotoslab-regular (1.3rem);
        font-style: italic;
    }

    &__text {
        @include robotoslab-regular (1.4rem);
        padding-top: 2.3rem;
        padding-bottom: 3.5rem;
    }

    &__link {
        @include robotoslab-bold (1.3rem);
        cursor: pointer;
    }

    &__date {
        @include montserrat-bold (2.4rem) ;  
        width: 7.5rem;
        height: 7.5rem;
        border: solid 2px $second_text-color ;
        text-align: center;
        padding-top: 4px;
        box-sizing: border-box;
        color: $second_text-color ;
    }

    &__header {
        display: flex;
    }

    &__content-block {
        padding-left: 4rem;
    }

    &__name {
        padding-left: 4rem;
    }

    &__content:hover &__red {
        color: $section-color2;
    }

    &__content:hover &__link {
        color: $section-color2;
    }

    &__content:hover &__title {
        color: $section-color2;
    }
}

.clients {
    background-color: $section-color1 ;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: $second_text-color;
    
    
    
    &__slider {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        transition: all 1s;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    &__item {
        width: 100%;
    }
    
    &__logos {
        display: flex; 
        justify-content: center;
    }

    &__logo {
        padding-right: 6rem;
    }

    &__logo:last-child {
        padding-right: 0;
    }

    &__quote {
        @include robotoslab-regular (1.8rem);
        text-align: center;
        padding-top: 8rem;
        font-style: italic;
        width: 68%;
        margin: 0 auto;
    }

    &__quote-author {
        @include robotoslab-regular (2rem);
        text-align: center;
        padding-top: 4.3rem;
    }

    &__slider-controls {
        display: flex;
        justify-content: center;
        padding-top: 4rem;
    }

    &__control-unit {
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50% ;
        background-color: #dddddd ;
        margin-right: 7px;
    }

    &__control-unit:last-child {
        margin-right: 0 ;
    }

    &__control-unit:hover {
        background-color: $section-color2 ;
    }
}

.contact {
    color: $second_text-color ;
    padding-bottom : 10rem;

    &__block {
        display: flex; 
        padding-top: 7.2rem;
    }

    &__content {
        @include robotoslab-regular (1.2rem);
        padding-left: 2.7rem;
       

    }

    &__info {
        padding-right: 19rem;
    }

    &__name {
        @include montserrat-regular (1.4rem) ; 
        font-weight: bold; 
        padding-bottom: 2rem;
        padding-top: 4rem ;
    }

    &__name:first-child {
        padding-top: 0 ;
    }

    &__info-logo {
        @extend .works__nav-link ;
        padding-right: 15px;
    }
    
    &__text {
        @include robotoslab-regular (1.2rem);
        width: 35rem;
        height: 4.4rem;
        margin-right: 3rem;
        margin-bottom: 2rem;
        padding-left: 1.7rem;
        border: 1px solid $second_text-color ;
        
    }

    &__text:focus {
        border:solid 1px $section-color2 ;
    }

    &__textarea {
        @extend .contact__text ;
        width: 77rem;
        height: 10.4rem;
        padding: 1.7rem;
        box-sizing: border-box;
        resize:none;
    }

    &__button-block {
        display: flex;
    }

    &__button {
        @include robotoslab-regular (1.2rem);
        background-color: transparent;
        padding: 1.6rem 3.5rem;
        
        color: $second_text-color;
    }

    &__disclaimer {
        @include robotoslab-regular (1.2rem);
        padding-left: 3.6rem;
        padding-top: 1.8rem;
    }

    &__red {
        color: $section-color2;
    }
}

.footer {
    color: $main_text-color ;
    background-color: $section-color2 ;
    padding: 10rem 0;

    &__logos {
        display: flex;
        justify-content: center ;
    }

    &__circle {
        @include fontello (2.5rem);
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 50%;
        border: 2px solid $main_text-color ;
        margin-right: 1.4rem;
        text-align: center;
        padding-top: 7px;
        box-sizing: border-box;

    }
    &__circle:last-child {
        margin-right: 0;
    }

    &__border {
        width: 4%;
        height: 2px;
        background-color: $main_text-color;
        margin: 3rem auto;
    }

    &__copyright {
        @include robotoslab-regular (1.2rem);
        text-align: center;
    }
}

// Классы для JS
.unvisible {
    opacity:0;
    transition:opacity 0.5s ease;
    position:absolute;
    z-index: 0;
    top: 0px;
    left:0px;
}

.works__menu-item_selected {
    box-shadow: inset 0 0 0 100000px rgba(192, 48, 28, 0.7);
    color: white;
    transform: scale(1.1);
}

.hidden {
   visibility: hidden;
   opacity: 0;
   z-index: -1;
   position: absolute;
}

.hide_menu {
    display: none;
}

.showing {
   display: none;
}

@import 'adaptive' ;