@font-face {
  font-family: 'montserrat-bold';
  src: url("../fonts/Montserrat-Bold.woff"); }

@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/Montserrat-Regular.woff"); }

@font-face {
  font-family: 'robotoslab-bold';
  src: url("../fonts/RobotoSlabBold.woff"); }

@font-face {
  font-family: 'robotoslab-regular';
  src: url("../fonts/RobotoSlabRegular.woff"); }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.woff"); }
