@font-face {
  font-family: 'montserrat-bold';
  src: url("../fonts/Montserrat-Bold.woff"); }

@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/Montserrat-Regular.woff"); }

@font-face {
  font-family: 'robotoslab-bold';
  src: url("../fonts/RobotoSlabBold.woff"); }

@font-face {
  font-family: 'robotoslab-regular';
  src: url("../fonts/RobotoSlabRegular.woff"); }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.woff"); }

::-webkit-input-placeholder {
  color: #555555;
  opacity: 1; }

/* webkit */
::-moz-placeholder {
  color: #555555;
  opacity: 1; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #555555;
  opacity: 1; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #555555;
  opacity: 1; }

/* IE */
:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

html {
  margin: 0;
  font-size: 10px; }

body {
  margin: 0; }

.container {
  width: 70%;
  margin: 0 auto; }

a {
  color: inherit; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

.section__name {
  font-family: 'montserrat-regular';
  font-size: 2rem;
  color: #555555;
  text-align: center;
  padding-top: 10rem;
  position: relative;
  font-weight: bold;
  text-transform: uppercase; }

.section__name:before {
  content: "";
  display: block;
  width: 4%;
  height: 2px;
  background-color: #555555;
  position: absolute;
  top: 15.8rem;
  left: 48%; }

.section__description {
  font-family: 'robotoslab-regular';
  font-size: 1.6rem;
  padding-top: 6.2rem;
  text-align: center; }

.scroll-top-button {
  width: 5rem;
  height: 5rem;
  border: solid white 2px;
  border-radius: 50%;
  font-family: 'montserrat-regular';
  font-size: 2rem;
  position: fixed;
  background-color: #8b8b8b;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding-top: 1rem;
  right: 3rem;
  bottom: 4rem;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 10; }

.header {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); }
  .header__menu-block {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    position: fixed;
    width: 100%;
    padding-bottom: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9; }
  .header__logo {
    font-family: 'montserrat-bold';
    font-size: 2.4rem;
    line-height: 2.4rem; }
  .header__menu {
    font-family: 'montserrat-regular';
    font-size: 1.4rem;
    display: flex;
    padding-top: 0.5rem;
    padding-right: 9rem; }
  .header__menu-item {
    padding-left: 3.4rem; }
  .header__menu-item:hover {
    color: #f00808; }
  .header__content {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .header__name {
    font-family: 'montserrat-regular';
    font-size: 4.8rem;
    width: 100%;
    padding-top: 26.1rem; }
  .header__description {
    font-family: 'robotoslab-regular';
    font-size: 2rem;
    width: 100%;
    padding-top: 2.8rem;
    padding-bottom: 4.7rem; }
  .header__button {
    font-family: 'montserrat-regular';
    font-size: 1.6rem;
    width: 18rem;
    padding: 1.8rem 1.3rem;
    border: solid 0.2rem #ffffff;
    margin: 0 auto;
    margin-bottom: 25.9rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 3px #16060d;
    transition: all 0.2s ease;
    position: relative; }
  .header__button:active {
    box-shadow: none;
    top: 3px; }
  .header__menu_adaptive {
    font-family: 'montserrat-regular';
    font-size: 1.4rem;
    left: 2vw;
    margin-left: -3.5rem;
    text-shadow: 1px 1px 2px black;
    z-index: 10;
    position: fixed;
    top: 15vh; }
  .header__burger {
    width: 4rem;
    min-width: 4rem;
    position: fixed;
    display: none;
    top: 5vh;
    left: 2vw;
    z-index: 10; }

.services {
  color: #555555; }
  .services__content {
    display: flex;
    text-align: center;
    padding-top: 7rem;
    justify-content: space-between; }
  .services__item {
    width: 32%; }
  .services__item-name, .about__item-name {
    font-family: 'montserrat-regular';
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 3rem; }
  .services__item-description {
    font-family: 'robotoslab-regular';
    font-size: 1.4rem;
    padding-top: 2.5rem; }
  .services__item-logo-circle {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: solid 0.2rem #dddddd;
    margin: 0 auto;
    padding-top: 19px;
    box-sizing: border-box;
    transition: all 0.4s ease; }
  .services__item-logo-circle svg {
    fill: #c0301c;
    transition: all 0.4s ease; }
  .services__item:hover .services__item-logo-circle {
    background-color: #c0301c; }
  .services__item:hover .services__item-logo-circle svg {
    fill: #ffffff; }

.about {
  background-color: #f8f8f8;
  margin-top: 10rem;
  color: #555555; }
  .about__slider {
    overflow: hidden;
    position: relative; }
  .about__content {
    display: flex;
    justify-content: space-between;
    padding-top: 7.3rem;
    z-index: 1; }
  .about__slider-content {
    display: flex;
    justify-content: space-between;
    padding-top: 7.3rem;
    z-index: 1;
    position: relative;
    left: 0px;
    transition: all 1s; }
  .about__text-content {
    font-family: 'robotoslab-regular';
    font-size: 1.4rem;
    width: 49%;
    line-height: 2.6rem;
    letter-spacing: 0.8px; }
  .about__item {
    width: 23%;
    text-align: center;
    padding-bottom: 10rem;
    transition: all 0.5s ease;
    flex-shrink: 0;
    flex-basis: 23%;
    margin-right: 2.6%; }
  .about__item:last-child {
    margin-right: 0%; }
  .about__item-photo1, .about__item-photo2, .about__item-photo3, .about__item-photo4, .about__item-photo5, .about__item-photo6, .about__item-photo7, .about__item-photo8 {
    height: 25rem;
    min-height: 25rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/photo1.jpg");
    transition: all 0.5s ease; }
  .about__item-photo2 {
    background-image: url("../img/photo2.jpg"); }
  .about__item-photo3 {
    background-image: url("../img/photo3.jpg"); }
  .about__item-photo4 {
    background-image: url("../img/photo4.jpg");
    background-position: 45% 12%; }
  .about__item-photo5 {
    background-image: url("../img/photo5.jpg");
    background-position: 30%; }
  .about__item-photo6 {
    background-image: url("../img/photo6.jpg");
    background-position: 52%; }
  .about__item-photo7 {
    background-image: url("../img/photo7.jpg");
    background-position: 30%; }
  .about__item-photo8 {
    background-image: url("../img/photo8.jpg");
    background-position: 30%; }
  .about__item-name {
    padding-top: 2rem; }
  .about__item-profession {
    font-family: 'robotoslab-regular';
    font-size: 1.3rem;
    padding-top: 0.7rem; }
  .about__item-soc {
    display: none;
    position: absolute;
    top: 75%;
    left: 30%;
    transition: all 0.5s ease; }
  .about__social {
    font-family: 'fontello';
    font-size: 1.6rem;
    width: 3rem;
    height: 3rem;
    color: #ffffff;
    box-sizing: border-box;
    padding: 6px 4px 1px 1px;
    transition: all 0.5s ease;
    cursor: default; }
  .about__social:hover {
    background-color: #c0301c; }
  .about__item:hover .about__item-photo1, .about__item:hover .about__item-photo2, .about__item:hover .about__item-photo3, .about__item:hover .about__item-photo4, .about__item:hover .about__item-photo5, .about__item:hover .about__item-photo6, .about__item:hover .about__item-photo7, .about__item:hover .about__item-photo8 {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4); }
  .about__item:hover .about__item-soc {
    display: flex; }
  .about__slider-left, .about__slider-right {
    font-family: 'fontello';
    font-size: 2.5rem;
    width: 3.5rem;
    height: 3.8rem;
    background-color: #8b8b8b;
    color: #ffffff;
    position: absolute;
    box-sizing: border-box;
    padding-left: 12px;
    padding-top: 5px;
    z-index: 3;
    top: 36%;
    transition: all 0.5s ease;
    cursor: default; }
  .about__slider-right {
    left: 97.5%; }
  .about__slider-left:hover, .about__slider-right:hover {
    background-color: #c0301c; }

.works__menu {
  font-family: 'robotoslab-regular';
  font-size: 1.6rem;
  color: #555555;
  display: flex;
  justify-content: center;
  padding-top: 5rem; }

.works__menu-item {
  padding: 1rem 1.1rem;
  border-radius: 6px;
  transition: all 0.5s ease;
  cursor: pointer; }

.works__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 6rem 9.5rem;
  transition: all 0.5s ease; }

.works__gallery-item {
  margin-right: 2.3rem;
  transition: all 0.5s ease;
  z-index: 1; }

.works__gallery-item1, .works__gallery-item2, .works__gallery-item3, .works__gallery-item4, .works__gallery-item5, .works__gallery-item6, .works__gallery-item7, .works__gallery-item8, .works__gallery-item9 {
  width: 31%;
  height: 32rem;
  min-height: 32rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/gallery_1.jpg");
  margin-bottom: 2.3rem; }

.works__gallery-item2 {
  background-image: url("../img/gallery_2.jpg");
  background-position: center; }

.works__gallery-item3 {
  background-image: url("../img/gallery_3.jpg"); }

.works__gallery-item4 {
  background-image: url("../img/gallery_4.jpg"); }

.works__gallery-item5 {
  background-image: url("../img/gallery_5.jpg"); }

.works__gallery-item6 {
  background-image: url("../img/gallery_6.jpg");
  background-position: 50%; }

.works__gallery-item7 {
  background-image: url("../img/gallery_7.jpg"); }

.works__gallery-item8 {
  background-image: url("../img/gallery_8.jpg"); }

.works__gallery-item9 {
  background-image: url("../img/gallery_9.jpg");
  background-position: 50%; }

.works__gallery-name {
  font-family: 'montserrat-regular';
  font-size: 1.8rem;
  opacity: 0;
  transition: all 0.5s ease;
  color: #ffffff;
  text-align: center;
  margin-top: 10.6rem; }

.works__gallery-description {
  font-family: 'robotoslab-regular';
  font-size: 1.2rem;
  opacity: 0;
  transition: all 0.5s ease;
  text-align: center;
  color: #ffffff;
  padding-top: 1.7rem;
  padding-bottom: 2.5rem; }

.works__gallery-button {
  font-family: 'robotoslab-regular';
  font-size: 1.4rem;
  opacity: 0;
  transition: all 0.5s ease;
  text-align: center;
  color: #c0301c;
  padding-top: 10px;
  box-sizing: border-box;
  width: 10rem;
  height: 4rem;
  background-color: #ffffff;
  margin: 0 auto;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #16060d;
  transition: all 0.2s ease;
  position: relative; }

.works__gallery-button:active {
  box-shadow: none;
  top: 3px; }

.works__nav-link, .contact__info-logo {
  font-family: 'fontello';
  font-size: 1.4rem;
  color: inherit; }

.works__gallery-item1:hover, .works__gallery-item2:hover, .works__gallery-item3:hover, .works__gallery-item4:hover, .works__gallery-item5:hover, .works__gallery-item6:hover, .works__gallery-item7:hover, .works__gallery-item8:hover, .works__gallery-item9:hover {
  box-shadow: inset 0 0 0 100000px rgba(192, 48, 28, 0.7); }

.works__gallery-item1:hover .works__gallery-name, .works__gallery-item2:hover .works__gallery-name, .works__gallery-item3:hover .works__gallery-name, .works__gallery-item4:hover .works__gallery-name, .works__gallery-item5:hover .works__gallery-name, .works__gallery-item6:hover .works__gallery-name, .works__gallery-item7:hover .works__gallery-name, .works__gallery-item8:hover .works__gallery-name, .works__gallery-item9:hover .works__gallery-name {
  opacity: 1; }

.works__gallery-item1:hover .works__gallery-description, .works__gallery-item2:hover .works__gallery-description, .works__gallery-item3:hover .works__gallery-description, .works__gallery-item4:hover .works__gallery-description, .works__gallery-item5:hover .works__gallery-description, .works__gallery-item6:hover .works__gallery-description, .works__gallery-item7:hover .works__gallery-description, .works__gallery-item8:hover .works__gallery-description, .works__gallery-item9:hover .works__gallery-description {
  opacity: 1; }

.works__gallery-item1:hover .works__gallery-button, .works__gallery-item2:hover .works__gallery-button, .works__gallery-item3:hover .works__gallery-button, .works__gallery-item4:hover .works__gallery-button, .works__gallery-item5:hover .works__gallery-button, .works__gallery-item6:hover .works__gallery-button, .works__gallery-item7:hover .works__gallery-button, .works__gallery-item8:hover .works__gallery-button, .works__gallery-item9:hover .works__gallery-button {
  opacity: 1; }

.action-call {
  font-family: 'robotoslab-regular';
  font-size: 3rem;
  background-image: url("../img/action-call.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%  73%;
  box-shadow: inset 0 0 0 100000px rgba(192, 48, 28, 0.5);
  color: #ffffff;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .action-call__button {
    font-size: 1.8rem;
    border: solid 2px #ffffff;
    width: 18rem;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 0.9rem 0;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #16060d;
    transition: all 0.2s ease;
    position: relative; }
  .action-call__button:active {
    box-shadow: none;
    top: 3px; }
  .action-call__content {
    padding-top: 10px; }

.blog {
  color: #555555;
  padding-bottom: 10rem; }
  .blog__content {
    display: flex;
    justify-content: space-between;
    padding-top: 7.2rem; }
  .blog__img1, .blog__img2 {
    background-image: url("../img/blog-1.jpg");
    width: 46rem;
    min-width: 46rem;
    height: 32.4rem; }
  .blog__img2 {
    background-image: url("../img/blog-2.jpg"); }
  .blog__title {
    font-family: 'montserrat-regular';
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bolder; }
  .blog__author {
    font-family: 'robotoslab-regular';
    font-size: 1.3rem;
    font-style: italic; }
  .blog__text {
    font-family: 'robotoslab-regular';
    font-size: 1.4rem;
    padding-top: 2.3rem;
    padding-bottom: 3.5rem; }
  .blog__link {
    font-family: 'robotoslab-bold';
    font-size: 1.3rem;
    cursor: pointer; }
  .blog__date {
    font-family: 'montserrat-bold';
    font-size: 2.4rem;
    width: 7.5rem;
    height: 7.5rem;
    border: solid 2px #555555;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    color: #555555; }
  .blog__header {
    display: flex; }
  .blog__content-block {
    padding-left: 4rem; }
  .blog__name {
    padding-left: 4rem; }
  .blog__content:hover .blog__red {
    color: #c0301c; }
  .blog__content:hover .blog__link {
    color: #c0301c; }
  .blog__content:hover .blog__title {
    color: #c0301c; }

.clients {
  background-color: #f8f8f8;
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: #555555; }
  .clients__slider {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    transition: all 1s;
    margin-bottom: 10px;
    box-sizing: border-box; }
  .clients__item {
    width: 100%; }
  .clients__logos {
    display: flex;
    justify-content: center; }
  .clients__logo {
    padding-right: 6rem; }
  .clients__logo:last-child {
    padding-right: 0; }
  .clients__quote {
    font-family: 'robotoslab-regular';
    font-size: 1.8rem;
    text-align: center;
    padding-top: 8rem;
    font-style: italic;
    width: 68%;
    margin: 0 auto; }
  .clients__quote-author {
    font-family: 'robotoslab-regular';
    font-size: 2rem;
    text-align: center;
    padding-top: 4.3rem; }
  .clients__slider-controls {
    display: flex;
    justify-content: center;
    padding-top: 4rem; }
  .clients__control-unit {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: #dddddd;
    margin-right: 7px; }
  .clients__control-unit:last-child {
    margin-right: 0; }
  .clients__control-unit:hover {
    background-color: #c0301c; }

.contact {
  color: #555555;
  padding-bottom: 10rem; }
  .contact__block {
    display: flex;
    padding-top: 7.2rem; }
  .contact__content {
    font-family: 'robotoslab-regular';
    font-size: 1.2rem;
    padding-left: 2.7rem; }
  .contact__info {
    padding-right: 19rem; }
  .contact__name {
    font-family: 'montserrat-regular';
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 2rem;
    padding-top: 4rem; }
  .contact__name:first-child {
    padding-top: 0; }
  .contact__info-logo {
    padding-right: 15px; }
  .contact__text, .contact__textarea {
    font-family: 'robotoslab-regular';
    font-size: 1.2rem;
    width: 35rem;
    height: 4.4rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    padding-left: 1.7rem;
    border: 1px solid #555555; }
  .contact__text:focus, .contact__textarea:focus {
    border: solid 1px #c0301c; }
  .contact__textarea {
    width: 77rem;
    height: 10.4rem;
    padding: 1.7rem;
    box-sizing: border-box;
    resize: none; }
  .contact__button-block {
    display: flex; }
  .contact__button {
    font-family: 'robotoslab-regular';
    font-size: 1.2rem;
    background-color: transparent;
    padding: 1.6rem 3.5rem;
    color: #555555; }
  .contact__disclaimer {
    font-family: 'robotoslab-regular';
    font-size: 1.2rem;
    padding-left: 3.6rem;
    padding-top: 1.8rem; }
  .contact__red {
    color: #c0301c; }

.footer {
  color: #ffffff;
  background-color: #c0301c;
  padding: 10rem 0; }
  .footer__logos {
    display: flex;
    justify-content: center; }
  .footer__circle {
    font-family: 'fontello';
    font-size: 2.5rem;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-right: 1.4rem;
    text-align: center;
    padding-top: 7px;
    box-sizing: border-box; }
  .footer__circle:last-child {
    margin-right: 0; }
  .footer__border {
    width: 4%;
    height: 2px;
    background-color: #ffffff;
    margin: 3rem auto; }
  .footer__copyright {
    font-family: 'robotoslab-regular';
    font-size: 1.2rem;
    text-align: center; }

.unvisible {
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px; }

.works__menu-item_selected {
  box-shadow: inset 0 0 0 100000px rgba(192, 48, 28, 0.7);
  color: white;
  transform: scale(1.1); }

.hidden {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  position: absolute; }

.hide_menu {
  display: none; }

.showing {
  display: none; }

/* Large devices (desktops, 992px and down) */
@media (max-width: 1700px) {
  .container {
    width: 80%; }
  .header__burger {
    display: block; }
  .header__menu-block {
    display: none; } }

/* Medium devices (tablets, 768px and down) */
@media (max-width: 1500px) {
  .container {
    width: 95%; } }

.contact__block {
  justify-content: space-between;
  padding: 5rem; }

/* Small devices (landscape phones, 576px and down)& */
@media (max-width: 1245px) {
  html {
    font-size: 9px; }
  .contact__block {
    justify-content: space-between;
    padding: 3rem 0rem; } }

@media (max-width: 1169px) {
  .contact__text, .contact__textarea {
    width: 77rem; }
  .contact__textarea {
    width: 79rem; }
  .contact__info {
    padding-right: 6rem; }
  .works__gallery-item {
    width: 46%; } }

@media (max-width: 960px) {
  .about__slider-right {
    left: 96.5%; }
  .contact__text, .contact__textarea {
    width: 80%; }
  .contact__textarea {
    width: 84%; }
  .about__item-soc {
    left: 24%; }
  .contact__message-form {
    padding-right: 15%; }
  .clients__logos {
    flex-wrap: wrap;
    padding-left: 75px; }
  .clients__logo {
    width: 28%;
    padding-right: 0px; }
  .services__item-logo-circle {
    padding-top: 1.1rem; } }

@media (max-width: 740px) {
  html {
    font-size: 8px; }
  .header__menu {
    display: none; }
  .header__logo {
    position: fixed;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black;
    z-index: 20;
    cursor: pointer;
    top: 8px; }
  .scroll-top-button {
    display: none; }
  .header__name {
    padding-top: 3.1rem; }
  .header__description {
    padding-bottom: 3.7rem; }
  .header__button {
    margin-bottom: 5.9rem; }
  .section__name {
    padding-top: 3rem; }
  .section__name::before {
    display: none; }
  .section__description {
    padding-top: 1.2rem; }
  .services__content {
    padding-top: 4rem;
    flex-wrap: wrap; }
  .services__item {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3.3rem; }
  .about {
    margin-top: 1rem; }
  .about__content {
    padding-top: 4.3rem; }
  .about__item {
    padding-bottom: 6rem; }
  .about__item-soc {
    flex-direction: column;
    left: 8%;
    top: 4%; }
  .works__menu {
    padding-top: 1rem; }
  .works__gallery-item {
    width: 100%;
    margin-right: 0px; }
  .clients__logos {
    flex-wrap: wrap;
    padding-left: 0px; }
  .clients__logo {
    width: 28%;
    margin-right: 28px; }
  #logo {
    margin-right: 0px; }
  .clients {
    padding-top: 6rem;
    padding-bottom: 4rem; }
  .contact {
    padding-bottom: 2rem; }
  .footer {
    padding: 3rem 0; }
  .blog__content {
    padding-top: 3.2rem; }
  .blog {
    padding-bottom: 6rem; }
  .blog__img1, .blog__img2 {
    width: 21%;
    min-width: 35%; } }

@media (max-width: 560px) {
  .contact__button-block {
    flex-wrap: wrap; }
  .blog__img1, .blog__img2 {
    display: none; }
  .clients__logo {
    margin-right: 65px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 26px; }
  #logo {
    margin-right: 65px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 26px; } }

@media (max-width: 367px) {
  .works__menu {
    flex-direction: column;
    align-items: center; }
  .works__menu-item {
    text-align: center; }
  .works__gallery {
    padding: 3rem 0.5rem; }
  .contact__block {
    flex-direction: column;
    align-items: center; }
  .contact__info {
    padding-right: 0px;
    padding-bottom: 2rem; }
  .contact__message-form {
    padding-right: 0px;
    padding-left: 3.3rem; } }
